.donut-chart {
  margin-bottom: 0;
  margin-top: 10px;
  max-width: none;
  width: 100%;

  &__content {
    padding: 7px 20px 0;
    display: flex;

    &--no-stats {
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
    }

    &__diagram {
      text-align: center;
      flex: 1 1 auto;

      .c3-chart {
        .domain {
          display: none
        }
      }
    }
  }
}
